@use "styles/variables.scss";

.slideshow {
	margin: 0 auto;
	max-width: 115rem;
	overflow: hidden;
	position: relative;

	&__container {
		display: flex;
		flex-wrap: nowrap;
		will-change: transform, transition;
	}

	&__controls {
		align-items: center;
		display: flex;
		height: 100%;
		pointer-events: none;
		position: absolute;
		top: 0;
		width: 100%;

		button {
			background: none;
			border-radius: 50%;
			border: none;
			cursor: pointer;
			height: 4rem;
			pointer-events: all;
			position: absolute;
			text-align: center;
			transition: 0.3s ease all;
			width: 4rem;

			svg {
				filter: drop-shadow(0 0 3px variables.$shadow-color);
				fill: variables.$light-text-color;
				height: 100%;
				transition: 0.3s ease all;
				width: 100%;
			}

			&:hover,
			&:active,
			&:focus {
				outline-offset: 0;
				transform: scale(1.1);

				svg {
					filter: drop-shadow(0 0 5px variables.$secondary-color, 0 0 5px variables.$shadow-color);
					fill: variables.$main-color;
				}
			}

			&:active {
				transform: scale(0.9);
			}
		}

		&_prev {
			left: 0.5rem;
		}

		&_next {
			right: 0.5rem;
		}
	}
}

.slide {
	display: flex;
	justify-content: center;
	min-height: 16rem;
	min-width: 50%;
	padding: 1rem;
	position: relative;

	&__container {
		background: none;
		border: none;
		border-radius: 1rem;
		min-width: inherit;
		position: relative;
		transition: 0.3s ease all;

		img {
			border-radius: 1rem;
			height: 100%;
			object-fit: cover;
			transition: all 0.3s ease;
			vertical-align: top;
			width: 100%;
			will-change: filter;
		}

		&:hover,
		&:active,
		&:focus {
			img {
				filter: brightness(0.3) blur(0.5rem);
			}

			.slide__content {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__content {
		bottom: 0;
		color: variables.$light-text-color;
		display: flex;
		flex-flow: column nowrap;
		height: 100%;
		left: 0;
		// opacity: 0;
		padding: 1rem;
		position: absolute;
		right: 0;
		top: 0;
		visibility: hidden;
		will-change: opacity, visibility;

		&_adult {
			background: rgba(0, 0, 0, 0.5);
			border-radius: 50%;
			border: 2px solid variables.$red-color;
			color: variables.$light-text-color;
			font-size: variables.$fz-xxs;
			height: 3rem;
			padding: 1rem;
			position: absolute;
			top: 1rem;
			left: 1rem;
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: center;
			transition: all 0.3s ease;
			will-change: opacity, visibility;
			width: 3rem;

			// Cross line
			&::after {
				content: "";
				position: absolute;
				top: 1.2rem;
				left: 0;
				width: 110%;
				height: 2px;
				background: variables.$red-color;
				transform: rotate(45deg);
				transition: all 0.3s ease;
				will-change: transform;
			}
		}

		&_title {
      color: variables.$main-text-color;
      display: -webkit-box;
			font-size: variables.$fz-md;
			font-weight: bold;
			margin-bottom: 1rem;
			overflow: hidden;
      text-overflow: ellipsis;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
		}

		&_overview {
			display: -webkit-box;
			font-size: variables.$fz-xs;
			margin-bottom: 1rem;
			overflow: hidden;
      text-overflow: ellipsis;
			-webkit-line-clamp: 5;
			-webkit-box-orient: vertical;
		}

		&_info {
			color: variables.$main-text-color;
			font-size: variables.$fz-xs;
			margin-bottom: 1rem;
      text-decoration: underline;
		}

		&_vote {
			font-size: variables.$fz-lg;
			text-align: end;
			font-weight: bold;
			margin-top: auto;
		}
	}
}

@media screen and (min-width: 480px) {
	.slide {
		min-width: 33%;
	}
}

@media (min-width: 640px) {
	.slide {
		min-width: 25%;
	}
}

@media screen and (min-width: 800px) {
	.slide {
		min-width: 20%;
	}
}

@media screen and (min-width: 960px) {
	.slide {
		min-width: 16.67%;
	}
}
