@use "styles/variables.scss";

.adult {
	background: rgba(0, 0, 0, 0.5);
	border-radius: 50%;
	border: 2px solid var(--error-color);
	bottom: 1rem;
	color: var(--text-color);
	font-size: variables.$fz-xxs;
	height: 3rem;
	padding: 1rem;
	position: absolute;
	left: 1rem;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease;
	will-change: opacity, visibility;
	width: 3rem;

	&::after {
		content: "";
		position: absolute;
		top: 1.2rem;
		left: 0;
		width: 110%;
		height: 2px;
		background: var(--error-color);
		transform: rotate(45deg);
		transition: all 0.3s ease;
		will-change: transform;
	}
}
