@use "styles/variables.scss";

button.button,
button.back {
	align-items: center;
	color: variables.$light-text-color;
	display: flex;
	height: initial;
	margin: 2rem 1rem;
	padding: 0.5rem 1rem;
	width: fit-content;

	&:not(.button) {
		position: fixed;
		left: 2rem;
		margin: 0;
		top: 2rem;
		z-index: 1;
	}

	&:hover svg,
	&:active svg,
	&:focus svg {
		fill: variables.$main-color;
	}

	svg {
		fill: variables.$light-text-color;
		transition: transform 0.2s ease;
	}
}

button.button:hover svg,
button.button:active svg,
button.button:focus svg {
	transform: translateX(-0.5rem);
}
