@use "styles/variables.scss";

.button {
	align-items: center;
	background-color: var(--main-color);
	border-radius: 0.5rem;
	border: 1px solid transparent;
	color: var(--text-color);
	cursor: pointer;
	display: flex;
	font-size: variables.$fz-lg;
	font-weight: 500;
	justify-content: center;
	margin: 0 auto;
	outline: none;
	padding: 0.5rem 2rem;
	transition: 0.3s ease all;
	width: fit-content;

	svg {
		fill: vvar(--body-bg);
		height: 3rem;
	}

	&:hover,
	&:active,
	&:focus {
		background-color: initial;
		border: 1px solid var(--main-color);
		color: var(--main-color);

		svg {
			fill: var(--main-color);
		}
	}

	&:active {
		transform: scale(0.9);
	}

	svg {
		fill: var(--text-color);
	}

	div {
		width: fit-content;
	}
}
