@use "styles/variables.scss";

.list {
	display: flex;
	flex-flow: row wrap;
	gap: 1rem;
	list-style: none;
	padding: 2rem 1rem;

	&__item a {
		background-color: var(--secondary-color);
		border-radius: 1rem;
		color: var(--white-text-color);
		display: inline-block;
		font-size: variables.$fz-sm;
		padding: 0.5rem 1rem;
		text-decoration: none;
		transition: all 0.3s ease;

		&:hover,
		&:active,
		&:focus {
			background-color: var(--main-color);
			transform: scale(1.1) translateY(-0.2rem);
		}
	}
}
