@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");
@import "./variables.scss";

.dark {
	--header-bg: #{$header-bg-dark};
	--aside-bg: #{$aside-bg-dark};
	--body-bg: #{$body-bg-dark};
	--secondary-body-bg: #{$secondary-body-bg-dark};
	--footer-bg: #{$footer-bg-dark};
	--hover-bg: #{$hover-bg-dark};
	--main-color: #{$main-color-dark};
	--secondary-color: #{$secondary-color-dark};
	--error-color: #{$error-color-dark};
	--main-text-color: #{$main-text-color-dark};
	--secondary-text-color: #{$secondary-text-color-dark};
	--text-color: #{$text-color-dark};
	--contrast-text-color: #{$contrast-text-color-dark};
	--black-text-color: #{$black-text-color-dark};
	--white-text-color: #{$white-text-color-dark};
	--text-color: #{$text-color-dark};
	--shadow-color: #{$shadow-color-dark};
	--stroke-color: #{$stroke-color-dark};
	--gradient: #{$gradient-dark};
}

.light {
	--header-bg: #{$header-bg-light};
	--aside-bg: #{$aside-bg-light};
	--body-bg: #{$body-bg-light};
	--secondary-body-bg: #{$secondary-body-bg-light};
	--footer-bg: #{$footer-bg-light};
	--hover-bg: #{$hover-bg-light};
	--main-color: #{$main-color-light};
	--secondary-color: #{$secondary-color-light};
	--error-color: #{$error-color-light};
	--main-text-color: #{$main-text-color-light};
	--secondary-text-color: #{$secondary-text-color-light};
	--text-color: #{$text-color-light};
	--contrast-text-color: #{$contrast-text-color-light};
	--black-text-color: #{$black-text-color-light};
	--white-text-color: #{$white-text-color-light};
	--text-color: #{$text-color-light};
	--shadow-color: #{$shadow-color-light};
	--stroke-color: #{$stroke-color-light};
	--gradient: #{$gradient-light};
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;

	body {
		scroll-behavior: smooth;
		overflow-y: auto;
		background-color: var(--body-bg);
		color: var(--text-color);
		font-family: $font;

		&::-webkit-scrollbar {
			background-color: transparent;
			width: 12px;
		}

		&::-webkit-scrollbar-track {
			background-color: transparent;
		}

		&::-webkit-scrollbar-thumb {
			background-color: var(--main-color);
		}

		&::-webkit-scrollbar-thumb:hover {
			background-color: var(--main-text-color);
		}

		.skip-to-content {
			background-color: var(--main-color);
			border-radius: 0.5rem;
			color: var(--text-color);
			cursor: pointer;
			font: $fz-md $font;
			height: 1px;
			left: -999px;
			outline: none;
			overflow: hidden;
			padding: 1rem 2rem;
			position: absolute;
			top: auto;
			transition: all 0.3s ease-in-out;
			width: 1px;
			z-index: -1;

			&:focus,
			&:active {
				top: 0;
				left: 0;
				width: auto;
				height: auto;
				overflow: auto;
				z-index: 5;
			}
		}

		a {
			text-decoration: none;
			text-decoration-skip-ink: auto;
			scroll-margin-top: 8rem;
		}
	}
}

#app {
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;
}

.center {
	align-items: center;
	display: flex;
	font-size: $fz-md;
	grid-column: 1 / -1;
	justify-content: center;
	margin: 2rem 0;
}

.hide {
	animation: fadeOut 0.3s ease-in-out forwards;
	opacity: 0 !important;
	visibility: hidden !important;
}

.show {
	animation: fadeIn 0.3s ease-in-out forwards;
	opacity: 1 !important;
	visibility: visible !important;
}

.skeleton {
	animation: bg-skeleton 1s linear infinite alternate;
	background-color: rgba(255, 255, 255, 0.05);
}

@keyframes bg-skeleton {
	0% {
		background-color: rgba(255, 255, 255, 0.05);
	}
	100% {
		background-color: rgba(255, 255, 255, 0.1);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(-2rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		transform: translateY(-1rem);
	}
}

:focus-visible {
	outline: 2px dashed var(--main-color);
	outline-offset: 3px;
}

:focus:not(:focus-visible) {
	outline: none;
	outline-offset: 0px;
}

:focus {
	outline: 2px dashed var(--main-color);
	outline-offset: 3px;
}

// Edit default styles of sweetalert2
.swal2-popup {
	background-color: var(--secondary-body-bg) !important;
}
.swal2-title {
	font-size: 1.6rem !important;
	font-weight: 700;
	color: var(--text-color) !important;
}
.swal2-timer-progress-bar {
	background: var(--main-color);
}

.swal2-success * {
	border-color: var(--main-color) !important;
}

.swal2-success span {
	background-color: var(--main-color) !important;
}
