/* Dark Colors */
$header-bg-dark: #0a0a12;
$aside-bg-dark: #0a0a12;
$body-bg-dark: #0a0a12;
$secondary-body-bg-dark: #1a1a22;
$footer-bg-dark: #0a0a12;
$hover-bg-dark: #000038;
$main-color-dark: #e74596;
$secondary-color-dark: #9c27b0;
$error-color-dark: #ff0000;
$main-text-color-dark: #ff8bcb;
$secondary-text-color-dark: #f096ff;
$text-color-dark: #f2effa;
$black-text-color-dark: #000000;
$white-text-color-dark: #f2effa;
$contrast-text-color-dark: #000000;
$shadow-color-dark: #000000;
$stroke-color-dark: #1a1a22;
$gradient-dark: #000020 fixed linear-gradient(#000014, #000028 70%, #e7459655);

/* Light Colors */
$header-bg-light: #fafafa;
$aside-bg-light: #fafafa;
$body-bg-light: #fafafa;
$secondary-body-bg-light: #d6d6d6;
$footer-bg-light: #fafafa;
$hover-bg-light: #fafafa;
$main-color-light: #e74596;
$secondary-color-light: #9c27b0;
$error-color-light: #ff0000;
$main-text-color-light: #ff8bcb;
$secondary-text-color-light: #f096ff;
$text-color-light: #000000;
$contrast-text-color-light: #f2effa;
$black-text-color-light: #000000;
$white-text-color-light: #f2effa;
$shadow-color-light: #000000;
$stroke-color-light: #1a1a22;
$gradient-light: #f2effa fixed linear-gradient(#f2effa, #f2effa 70%, #e7459655);

$font: "Ubuntu", sans-serif;
$fz-xxs: 1.2rem;
$fz-xs: 1.3rem;
$fz-sm: 1.4rem;
$fz-md: 1.6rem;
$fz-lg: 1.8rem;
$fz-xl: 2rem;
