@use "styles/variables.scss";

.card {
	display: flex;
	justify-content: center;
	min-height: 16rem;
	max-width: 30rem;
	padding: 1rem;
	position: relative;

	&__container {
		background: none;
		border: none;
		border-radius: 1rem;
		min-width: inherit;
		position: relative;
		transition: 0.3s ease all;
		width: 100%;

		img {
			aspect-ratio: 2 / 3;
			border-radius: 1rem;
			height: auto;
			object-fit: cover;
			transition: all 0.3s ease;
			vertical-align: top;
			width: 100%;
			will-change: filter;
		}

		&:hover,
		&:active,
		&:focus {
			img {
				filter: brightness(0.3);
			}

			.card__content {
				opacity: 1;
				visibility: visible;
				transform: scale(1);
			}
		}
	}

	&__content {
		backdrop-filter: blur(0.4rem);
		bottom: 0;
		color: variables.$light-text-color;
		display: flex;
		flex-flow: column nowrap;
		height: 100%;
		left: 0;
		opacity: 0;
		padding: 1rem;
		position: absolute;
		right: 0;
		transform: scale(0.8);
		transition: transform 0.2s ease;
		top: 0;
		visibility: hidden;
		will-change: opacity, transform, visibility;

		&_title {
			color: variables.$main-text-color;
			display: -webkit-box;
			font-size: variables.$fz-md;
			font-weight: bold;
			margin-bottom: 1rem;
			overflow: hidden;
			text-overflow: ellipsis;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
		}

		&_overview {
			display: -webkit-box;
			font-size: variables.$fz-xs;
			margin-bottom: 1rem;
			overflow: hidden;
			text-overflow: ellipsis;
			-webkit-line-clamp: 5;
			-webkit-box-orient: vertical;
		}

		&_info {
			color: variables.$main-text-color;
			font-size: variables.$fz-xs;
			margin-bottom: 1rem;
			text-decoration: underline;
		}

		&_vote {
			font-size: variables.$fz-lg;
			text-align: end;
			font-weight: bold;
			margin-top: auto;
		}
	}
}

.slide {
	max-width: 50%;
	min-width: 50%;
}

@media (min-width: 480px) and (max-width: 639px) {
	.slide {
		max-width: 33%;
		min-width: 33%;
	}
}

@media (min-width: 640px) and (max-width: 799px) {
	.slide {
		max-width: 25%;
		min-width: 25%;
	}
}

@media (min-width: 800px) and (max-width: 959px) {
	.slide {
		max-width: 20%;
		min-width: 20%;
	}
}

@media (min-width: 960px) {
	.slide {
		max-width: 16.67%;
		min-width: 16.67%;
	}
}
