@use "styles/variables.scss";

.banner {
	position: relative;
	z-index: 1;

	&__img {
		aspect-ratio: 500 / 281;
		display: block;
		height: auto;
		margin: 0 auto;
		max-height: 80vh;
		object-fit: cover;
		object-position: top;
		width: 100%;
	}

	&__info {
		background-color: var(--body-bg);
		padding: 2rem;
		position: relative;
		z-index: 1;

		&::before {
			background: linear-gradient(to top, var(--body-bg), rgba(0, 0, 0, 0));
			content: "";
			display: block;
			height: 10rem;
			left: 0;
			position: absolute;
			top: -10rem;
			width: 100%;
			z-index: 1;
		}
	}

	&__content {
		margin: 0 auto;
		max-width: 115rem;
		width: 100%;
	}

	&__controls {
		display: flex;
		justify-content: space-between;
		margin-bottom: 1rem;
		width: 100%;

		&_select {
			align-items: center;
			display: inline-flex;
			gap: 1rem;
			width: fit-content;
		}
	}

	&__title {
		align-items: center;
		color: var(--main-color);
		display: flex;
		font-size: clamp(2rem, 3vw, 3.5rem);
		gap: 1rem;
		justify-content: space-between;
		margin-bottom: 2rem;

		div {
			font-size: variables.$fz-md;
			left: 0;
			height: 100%;
			position: relative;
			top: 0;
			width: auto;

			&::after {
				top: 1.6rem;
			}
		}

		span {
			align-items: center;
			color: var(--text-color);
			display: flex;
			gap: 1rem;

			svg {
				fill: var(--main-color);
			}
		}
	}

	&__overview {
		color: var(--text-color);
		font-size: variables.$fz-md;
		margin-bottom: 2rem;
	}

	&__genres {
		align-items: center;
		display: flex;
		gap: 1rem;
		justify-content: space-between;

		ul {
			padding: 0;
		}
	}

	&__more {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;

		&_remove {
			cursor: pointer;

			svg {
				fill: var(--main-color);
			}
		}

		&_buttons {
			display: flex;
			gap: 1rem;

			.button {
				align-items: center;
				background-color: var(--secondary-body-bg);
				border: none;
				border-radius: 50%;
				cursor: pointer;
				height: 3.5rem;
				transition: all 0.3s ease-in-out;
				width: 3.5rem;

				&.active {
					svg {
						fill: var(--main-color);
						opacity: 1;
					}
				}

				&:hover {
					transform: scale(1.1);

					svg {
						fill: var(--main-color);
					}
				}

				svg {
					fill: var(--text-color);
					height: 2rem;
					opacity: 0.5;
					vertical-align: middle;
					width: 2rem;
				}
			}
		}
	}
}
